/* for the welcome page */
body {
    font-family: Arial, sans-serif;
    font-size: 30px;
}

div {
    clip-path: polygon(0 0, 100% 0, 23% 100%, 0% 100%);
    background-color: #009d00;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding: 80px;
    color: white;
    
}

h1 {
    font-size: 3.3rem;
    text-align: left;
    width: 70%;
    padding-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #a3ff99;
    color: rgb(59, 56, 56);
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #7bf06e;
}

img {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    height: 60vh;
    width: 50vw;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(80%) contrast(119%);
}